<%- include ('../adminLayouts/header.ejs') %>


  <style>
    .modal-content {
      width: 925px;
    }
  </style>

  <!-- ?PROD Only: Google Tag Manager (noscript) (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0"
      style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar  ">
    <div class="layout-container">


      <!-- Menu -->

      <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">


        <div class="app-brand demo ">
          <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo me-1">
              <span style="color:var(--bs-primary);">
                <svg width="30" height="24" viewBox="0 0 250 196" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.3002 1.25469L56.655 28.6432C59.0349 30.1128 60.4839 32.711 60.4839 35.5089V160.63C60.4839 163.468 58.9941 166.097 56.5603 167.553L12.2055 194.107C8.3836 196.395 3.43136 195.15 1.14435 191.327C0.395485 190.075 0 188.643 0 187.184V8.12039C0 3.66447 3.61061 0.0522461 8.06452 0.0522461C9.56056 0.0522461 11.0271 0.468577 12.3002 1.25469Z"
                    fill="currentColor" />
                  <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 65.2656L60.4839 99.9629V133.979L0 65.2656Z" fill="black" />
                  <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 65.2656L60.4839 99.0795V119.859L0 65.2656Z" fill="black" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M237.71 1.22393L193.355 28.5207C190.97 29.9889 189.516 32.5905 189.516 35.3927V160.631C189.516 163.469 191.006 166.098 193.44 167.555L237.794 194.108C241.616 196.396 246.569 195.151 248.856 191.328C249.605 190.076 250 188.644 250 187.185V8.09597C250 3.64006 246.389 0.027832 241.935 0.027832C240.444 0.027832 238.981 0.441882 237.71 1.22393Z"
                    fill="currentColor" />
                  <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd"
                    d="M250 65.2656L189.516 99.8897V135.006L250 65.2656Z" fill="black" />
                  <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd"
                    d="M250 65.2656L189.516 99.0497V120.886L250 65.2656Z" fill="black" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z"
                    fill="currentColor" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z"
                    fill="white" fill-opacity="0.15" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z"
                    fill="currentColor" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z"
                    fill="white" fill-opacity="0.3" />
                </svg>
              </span>
            </span>
            <span class="app-brand-text demo menu-text fw-semibold ms-2">Materio</span>
          </a>

          <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="menu-toggle-icon d-xl-block align-middle"></i>
          </a>
        </div>

        <div class="menu-inner-shadow"></div>



        <ul class="menu-inner py-1">

          <!-- e-commerce-app menu start -->
          <li class="menu-item active open">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class='menu-icon tf-icons ri-shopping-bag-3-line'></i>
              <div data-i18n="eCommerce">eCommerce</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="dashboard" class="menu-link">
                  <div data-i18n="Dashboard">Dashboard</div>
                </a>
              </li>
             
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Products">Products</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="productlist" class="menu-link">
                      <div data-i18n="Product List">Product List</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="app-ecommerce-product-add.html" class="menu-link">
                      <div data-i18n="Add Product">Add Product</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="categorylist" class="menu-link">
                      <div data-i18n="Category List">Category List</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item active open">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Order">Order</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item active">
                    <a href="orderlist" class="menu-link">
                      <div data-i18n="Order List">Order List</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="app-ecommerce-order-details.html" class="menu-link">
                      <div data-i18n="Order Details">Order Details</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Customer">Customer</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="app-ecommerce-customer-all.html" class="menu-link">
                      <div data-i18n="All Customers">All Customers</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                      <div data-i18n="Customer Details">Customer Details</div>
                    </a>
                    <ul class="menu-sub">
                      <li class="menu-item">
                        <a href="app-ecommerce-customer-details-overview.html" class="menu-link">
                          <div data-i18n="Overview">Overview</div>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="app-ecommerce-customer-details-security.html" class="menu-link">
                          <div data-i18n="Security">Security</div>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="app-ecommerce-customer-details-billing.html" class="menu-link">
                          <div data-i18n="Address & Billing">Address & Billing</div>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="app-ecommerce-customer-details-notifications.html" class="menu-link">
                          <div data-i18n="Notifications">Notifications</div>
                        </a>
                      </li>

                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <!-- e-commerce-app menu end -->
          <!-- Academy menu start -->

          <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class='menu-icon tf-icons ri-bill-line'></i>
              <div data-i18n="Invoice">Invoice</div>
              <div class="badge bg-danger rounded-pill ms-auto"></div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="app-invoice-list.html" class="menu-link">
                  <div data-i18n="List">List</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="app-invoice-preview.html" class="menu-link">
                  <div data-i18n="Preview">Preview</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="app-invoice-edit.html" class="menu-link">
                  <div data-i18n="Edit">Edit</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="app-invoice-add.html" class="menu-link">
                  <div data-i18n="Add">Add</div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </aside>
      <!-- / Menu -->



      <!-- Layout container -->
      <div class="layout-page">


        <!-- Navbar -->

        <nav
          class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
          id="layout-navbar">



          <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0   d-xl-none ">
            <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
              <i class="ri-menu-fill ri-24px"></i>
            </a>
          </div>


          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">


            <ul class="navbar-nav flex-row align-items-center ms-auto">

              <!-- User -->
              <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
                  <div class="avatar avatar-online">
                    <img src="/adminAssets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end mt-3 py-2">
                  <li>
                    <a class="dropdown-item" href="pages-account-settings-account.html">
                      <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-2">
                          <div class="avatar avatar-online">
                            <img src="/adminAssets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="mb-0 small">John Doe</h6>
                          <small class="text-muted">Admin</small>

                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <div class="dropdown-divider"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="pages-profile-user.html">
                      <i class="ri-user-3-line ri-22px me-2"></i>
                      <span class="align-middle">My Profile</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="pages-account-settings-account.html">
                      <i class="ri-settings-4-line ri-22px me-2"></i>
                      <span class="align-middle">Settings</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="pages-account-settings-billing.html">
                      <span class="d-flex align-items-center align-middle">
                        <i class="flex-shrink-0 ri-file-text-line ri-22px me-2"></i>
                        <span class="flex-grow-1 align-middle">Billing</span>
                        <span
                          class="flex-shrink-0 badge badge-center rounded-pill bg-danger h-px-20 d-flex align-items-center justify-content-center">4</span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <div class="dropdown-divider"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="pages-pricing.html">
                      <i class="ri-money-dollar-circle-line ri-22px me-2"></i>
                      <span class="align-middle">Pricing</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="pages-faq.html">
                      <i class="ri-question-line ri-22px me-2"></i>
                      <span class="align-middle">FAQ</span>
                    </a>
                  </li>
                  <li>
                    <div class="d-grid px-4 pt-2 pb-1">
                      <a class="btn btn-danger d-flex" href="auth-login-cover.html" target="_blank">
                        <small class="align-middle">Logout</small>
                        <i class="ri-logout-box-r-line ms-2 ri-16px"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <!--/ User -->

            </ul>
          </div>

        </nav>

        <!-- / Navbar -->

        <!-- Content wrapper -->
        <div class="content-wrapper">

          <div class="container-xxl flex-grow-1 container-p-y">

            <!-- Order List Table -->

            <div class="card">

              <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                  <div class="card-header d-flex rounded-0 flex-wrap pb-md-0 pt-0">
                    <div class="me-5 pe-5">
                      <div id="DataTables_Table_0_filter" class="dataTables_filter"><label><input type="search"
                            class="form-control form-control-sm ms-0" placeholder="Search Order"
                            aria-controls="DataTables_Table_0"></label></div>
                    </div>
                  </div>

                  <table class="datatables-customers table dataTable no-footer dtr-column" id="DataTables_Table_0">
                    <thead>
                      <tr>
                        <th>Customer</th>
                        <th>Order Id</th>
                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% orders.forEach(order=> { %>
                        <tr>
                          <td>
                            <div class="d-flex align-items-center customer-name">
                              <span class="fw-medium text-truncate">
                                <%= order.userName %>
                              </span>
                            </div>
                          </td>
                          <td><span class="text-heading">#<%= order.orderId %></span></td>
                          <td><span>
                              <%= new Date(order.createdAt).toLocaleDateString() %>
                            </span></td>
                          <td><span class="badge bg-label-primary">
                              <%= order.items[0].order_status %>
                            </span></td>
                          <td>
                            <button class="btn btn-primary btn-sm"
                              onclick="showOrderDetailsModal('<%= order._id %>')">View</button>
                          </td>
                        </tr>
                        <% }); %>
                    </tbody>
                  </table>

                  <div class="row mx-1">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                        Showing <%= (currentPage - 1) * 10 + 1 %> to <%= Math.min(currentPage * 10, totalOrders) %> of
                            <%= totalOrders %> entries
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                        <ul class="pagination">
                          <% if (currentPage> 1) { %>
                            <li class="paginate_button page-item previous" id="DataTables_Table_0_previous">
                              <a href="?page=<%= currentPage - 1 %>" aria-controls="DataTables_Table_0" role="link"
                                data-dt-idx="previous" tabindex="0" class="page-link"><i
                                  class="ri-arrow-left-s-line"></i></a>
                            </li>
                            <% } else { %>
                              <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
                                <a aria-controls="DataTables_Table_0" aria-disabled="true" role="link"
                                  data-dt-idx="previous" tabindex="-1" class="page-link"><i
                                    class="ri-arrow-left-s-line"></i></a>
                              </li>
                              <% } %>

                                <% for (let i=1; i <=totalPages; i++) { %>
                                  <li class="paginate_button page-item <%= i === currentPage ? 'active' : '' %>">
                                    <a href="?page=<%= i %>" aria-controls="DataTables_Table_0" role="link"
                                      data-dt-idx="<%= i - 1 %>" tabindex="0" class="page-link">
                                      <%= i %>
                                    </a>
                                  </li>
                                  <% } %>

                                    <% if (currentPage < totalPages) { %>
                                      <li class="paginate_button page-item next" id="DataTables_Table_0_next">
                                        <a href="?page=<%= currentPage + 1 %>" aria-controls="DataTables_Table_0"
                                          role="link" data-dt-idx="next" tabindex="0" class="page-link"><i
                                            class="ri-arrow-right-s-line"></i></a>
                                      </li>
                                      <% } else { %>
                                        <li class="paginate_button page-item next disabled"
                                          id="DataTables_Table_0_next">
                                          <a aria-controls="DataTables_Table_0" aria-disabled="true" role="link"
                                            data-dt-idx="next" tabindex="-1" class="page-link"><i
                                              class="ri-arrow-right-s-line"></i></a>
                                        </li>
                                        <% } %>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div style="width: 1%;"></div>
                </div>
              </div>
              <!-- Offcanvas to add new customer -->
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEcommerceCustomerAdd"
                aria-labelledby="offcanvasEcommerceCustomerAddLabel">
                <div class="offcanvas-header border-bottom">
                  <h5 id="offcanvasEcommerceCustomerAddLabel" class="offcanvas-title">Add Customer</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body mx-0 flex-grow-0">
                  <form class="ecommerce-customer-add pt-0 fv-plugins-bootstrap5 fv-plugins-framework"
                    id="eCommerceCustomerAddForm" onsubmit="return false" novalidate="novalidate">
                    <div class="ecommerce-customer-add-basic mb-5">
                      <h6 class="mb-5">Basic Information</h6>
                      <div class="form-floating form-floating-outline mb-5 fv-plugins-icon-container">
                        <input type="text" class="form-control" id="ecommerce-customer-add-name" placeholder="John Doe"
                          name="customerName" aria-label="John Doe">
                        <label for="ecommerce-customer-add-name">Name*</label>
                        <div
                          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                        </div>
                      </div>
                      <div class="form-floating form-floating-outline mb-5 fv-plugins-icon-container">
                        <input type="text" id="ecommerce-customer-add-email" class="form-control"
                          placeholder="john.doe@example.com" aria-label="john.doe@example.com" name="customerEmail">
                        <label for="ecommerce-customer-add-email">Email*</label>
                        <div
                          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                        </div>
                      </div>
                      <div class="form-floating form-floating-outline">
                        <input type="text" id="ecommerce-customer-add-contact" class="form-control phone-mask"
                          placeholder="+(123) 456-7890" aria-label="+(123) 456-7890" name="customerContact">
                        <label for="ecommerce-customer-add-contact">Mobile</label>
                      </div>
                    </div>
                    <div class="ecommerce-customer-add-shiping mb-5">
                      <h6 class="mb-5">Shipping Information</h6>
                      <div class="form-floating form-floating-outline mb-5">
                        <input type="text" id="ecommerce-customer-add-address" class="form-control"
                          placeholder="45 Roker Terrace" aria-label="45 Roker Terrace" name="customerAddress1">
                        <label for="ecommerce-customer-add-address">Address Line 1</label>
                      </div>
                      <div class="form-floating form-floating-outline mb-5">
                        <input type="text" id="ecommerce-customer-add-address-2" class="form-control"
                          placeholder="Address 2" aria-label="address2" name="customerAddress2">
                        <label for="ecommerce-customer-add-address-2">Address Line 2</label>
                      </div>
                      <div class="form-floating form-floating-outline mb-5">
                        <input type="text" id="ecommerce-customer-add-town" class="form-control" placeholder="New York"
                          aria-label="New York" name="customerTown">
                        <label for="ecommerce-customer-add-town">Town</label>
                      </div>
                      <div class="form-floating form-floating-outline mb-5">
                        <input type="text" id="ecommerce-customer-add-state" class="form-control"
                          placeholder="Southern tip" aria-label="Southern tip" name="customerState">
                        <label for="ecommerce-customer-add-state">State / Province</label>
                      </div>
                      <div class="form-floating form-floating-outline mb-5">
                        <input type="text" id="ecommerce-customer-add-post-code" class="form-control"
                          placeholder="734990" aria-label="734990" name="pin" pattern="[0-9]{8}" maxlength="8">
                        <label for="ecommerce-customer-add-post-code">Post Code</label>
                      </div>
                      <div class="form-floating form-floating-outline form-floating-select2">
                        <div class="position-relative"><select id="ecommerce-customer-add-country"
                            class="select2 form-select select2-hidden-accessible"
                            data-select2-id="ecommerce-customer-add-country" tabindex="-1" aria-hidden="true">
                            <option value="" data-select2-id="2">Select</option>
                            <option value="Australia">Australia</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Brazil">Brazil</option>
                            <option value="Canada">Canada</option>
                            <option value="China">China</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Japan">Japan</option>
                            <option value="Korea">Korea, Republic of</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Russia">Russian Federation</option>
                            <option value="South Africa">South Africa</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Arab Emirates">United Arab Emirates</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States">United States</option>
                          </select><span class="select2 select2-container select2-container--default" dir="ltr"
                            data-select2-id="1" style="width: 343.2px;"><span class="selection"><span
                                class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                                aria-expanded="false" tabindex="0" aria-disabled="false"
                                aria-labelledby="select2-ecommerce-customer-add-country-container"><span
                                  class="select2-selection__rendered"
                                  id="select2-ecommerce-customer-add-country-container" role="textbox"
                                  aria-readonly="true"><span class="select2-selection__placeholder">United States
                                  </span></span><span class="select2-selection__arrow" role="presentation"><b
                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                              aria-hidden="true"></span></span></div>
                        <label for="ecommerce-customer-add-country">Country</label>
                      </div>
                    </div>

                    <div class="d-sm-flex mb-5">
                      <div class="me-auto mb-2 mb-md-0">
                        <h6 class="mb-1">Use as a billing address?</h6>
                        <small>If you need more info, please check budget.</small>
                      </div>
                      <div class="form-check form-switch my-auto me-n2">
                        <input type="checkbox" class="form-check-input">
                      </div>
                    </div>
                    <div>
                      <button type="submit"
                        class="btn btn-primary me-3 data-submit waves-effect waves-light">Add</button>
                      <button type="reset" class="btn btn-outline-danger waves-effect"
                        data-bs-dismiss="offcanvas">Discard</button>
                    </div>
                    <input type="hidden">
                  </form>
                </div>
              </div>
            </div>

          </div>
          <!-- / Content -->

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>



    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>


    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>

  </div>
  <!-- / Layout wrapper -->

  <!-- order details model -->
  <div class="modal fade" id="orderDetailsModal" tabindex="-1" aria-labelledby="orderDetailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="orderDetailsModalLabel">Order Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="orderDetailsContent"></div>
        </div>

      </div>
    </div>
  </div>

  <script>
    async function showOrderDetailsModal(orderId) {
      try {
        const response = await fetch(`/admin/orderdetails/${orderId}`);
        const data = await response.json();

        if (data.success) {
          const order = data.order;
          const orderDetailsHtml = `
        <div class="order-confirmation-header">
          <p>Order Date: ${new Date(order.createdAt).toLocaleDateString()}</p>
        </div>
        <div class="row mb-4">
          <div class="col-md-6 mb-3">
            <div class="card order-card">
              <div class="card-body">
                <h5 class="card-title">Shipping Address</h5>
                <p class="card-text">
                  <strong>${order.address.addressName}</strong><br>
                  ${order.address.addressStreet}<br>
                  ${order.address.addressHouse}<br>
                  ${order.address.addressCity}, ${order.address.addressState} ${order.address.addressPin}<br>
                  <strong>Phone:</strong> ${order.address.addressMobile}<br>
                  <strong>Email:</strong> ${order.address.addressEmail}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card order-card">
              <div class="card-body">
                <h5 class="card-title">Order Summary</h5>
                <p class="card-text">
                  <strong>Order ID:</strong> ${order.orderId}<br>
                  <strong>Payment Method:</strong> ${order.paymentMethod}<br>
                  <strong>Total Amount:</strong> ₹${order.totalPrice.toFixed(2)}<br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4 invoice-card">
          <div class="card-body">
            <h5 class="card-title">Invoice</h5>
            <div class="table-responsive">
              <table class="table table-invoice">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Subtotal</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  ${order.items.map((item) => `
                    <tr>
                      <td>${item.product.productTitle}</td>
                      <td class="text-center">${item.quantity}</td>
                      <td class="text-right">₹${item.price.toFixed(2)}</td>
                      <td class="text-right">₹${(item.price * item.quantity).toFixed(2)}</td>
                      <td class="text-center">
                        <span id="status-${item._id}">${item.order_status}</span>
                      </td>
                      <td class="text-center">
                        <select class="form-select status-select" data-item-id="${item._id}" ${item.order_status === 'Cancelled' ? 'disabled' : ''}>
                          ${getStatusOptions(item.order_status)}
                        </select>
                        ${item.order_status === 'Cancellation Requested' && item.order_status !== 'Cancelled' ?
              `<button class="btn btn-sm btn-danger mt-2 accept-cancel-btn" data-item-id="${item._id}">Accept Cancel</button>` : ''}
                      </td>
                    </tr>
                  `).join('')}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5" class="text-right"><strong>Total:</strong></td>
                    <td class="text-right"><strong>₹${order.totalPrice.toFixed(2)}</strong></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      `;
          document.getElementById('orderDetailsContent').innerHTML = orderDetailsHtml;

          // Set up event listeners for status changes
          document.querySelectorAll('.status-select').forEach(select => {
            select.addEventListener('change', function () {
              updateItemStatus(orderId, this.dataset.itemId, this.value, this.dataset.currentStatus);
            });
          });

          // Set up event listeners for cancel request buttons
          document.querySelectorAll('.accept-cancel-btn').forEach(button => {
            button.addEventListener('click', function () {
              acceptItemCancellation(orderId, this.dataset.itemId);
            });
          });

          const orderDetailsModal = new bootstrap.Modal(document.getElementById('orderDetailsModal'));
          orderDetailsModal.show();
        } else {
          alert(data.message);
        }
      } catch (error) {
        console.error('Error fetching order details:', error);
        alert('Failed to load order details. Please try again later.');
      }
    }

    function getStatusOptions(currentStatus) {
      const statusOrder = ['Pending', 'Processing', 'Shipped', 'Delivered', 'Cancelled', 'Returned', 'Return Requested'];
      let options = '';

      statusOrder.forEach((status) => {
        if (statusOrder.indexOf(currentStatus) <= statusOrder.indexOf(status)) {
          options += `<option value="${status}" ${currentStatus === status ? 'selected' : ''}>${status}</option>`;
        }
      });

      return options;
    }

    async function updateItemStatus(orderId, itemId, newStatus, currentStatus) {
      try {
        if (isStatusChangeAllowed(currentStatus, newStatus)) {
          const response = await fetch(`/admin/updateItemStatus/${orderId}/${itemId}`, {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ status: newStatus })
          });

          const data = await response.json();
          if (data.success) {
            alert('Item status updated successfully');
            document.getElementById(`status-${itemId}`).textContent = newStatus;
          } else {
            alert('Failed to update item status');
          }
        } else {
          alert('You can only change the status from top to bottom order or the order is already cancelled.');
        }
      } catch (error) {
        console.error('Error updating item status:', error);
        alert('Failed to update item status');
      }
    }

    function isStatusChangeAllowed(currentStatus, newStatus) {
      const statusOrder = ['Pending', 'Processing', 'Shipped', 'Delivered', 'Cancelled', 'Returned', 'Return Requested'];

      const currentIndex = statusOrder.indexOf(currentStatus);
      const newIndex = statusOrder.indexOf(newStatus);

      return newIndex >= currentIndex && currentStatus !== 'Cancelled';
    }

    async function acceptItemCancellation(orderId, itemId) {
      try {
        const response = await fetch(`/admin/orders/${orderId}/items/${itemId}/accept-cancel`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        });

        const data = await response.json();
        if (data.success) {
          alert('Item cancellation accepted successfully');
          const statusSpan = document.getElementById(`status-${itemId}`);
          statusSpan.textContent = 'Cancelled';
          const selectElement = document.querySelector(`.status-select[data-item-id="${itemId}"]`);
          selectElement.value = 'Cancelled';
          selectElement.disabled = true;
          const cancelButton = document.querySelector(`.accept-cancel-btn[data-item-id="${itemId}"]`);
          if (cancelButton) {
            cancelButton.remove();
          }
        } else {
          alert(data.message || 'Failed to accept item cancellation');
        }
      } catch (error) {
        console.error('Error accepting item cancel request:', error);
        alert('Failed to accept item cancellation');
      }
    }

  </script>


  <!-- Core JS -->
  <!-- build:js vendor/js/core.js -->
  <script src="/adminAssets/vendor/libs/jquery/jquery.js"></script>
  <script src="/adminAssets/vendor/libs/popper/popper.js"></script>
  <script src="/adminAssets/vendor/js/bootstrap.js"></script>
  <script src="/adminAssets/vendor/libs/node-waves/node-waves.js"></script>
  <script src="/adminAssets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="/adminAssets/vendor/libs/hammer/hammer.js"></script>
  <script src="/adminAssets/vendor/libs/i18n/i18n.js"></script>
  <script src="/adminAssets/vendor/libs/typeahead-js/typeahead.js"></script>
  <script src="/adminAssets/vendor/js/menu.js"></script>

  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="/adminAssets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>

  <!-- Main JS -->
  <script src="/adminAssets/js/main.js"></script>


  <!-- Page JS -->
  <script src="/adminAssets/js/app-ecommerce-order-list.js"></script>


  <%- include ('../adminLayouts/footer.ejs') %>