<%- include ('../layouts/header.ejs') %>

   
    
    <div class="page-wrapper">
        <header class="header">

            <div class="header-top">
                <div class="container">
                    <div class="header-left col-lg-7">
                        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                            <div class="container breadcrumbs">
                                <ol class="breadcrumb">
                                    <!-- Breadcrumbs with links -->
                                    <li class="breadcrumb-item">
                                        <% if (user) { %>
                                    <li>
                                        <a href="userprofile"><i class="icon-user"></i>
                                            <%= user.name || user.displayName %>
                                        </a>
                                    </li>
                                    <% } else { %>
                                        <li>
                                            <a href="/login"><i class="icon-user"></i>Login</a>
                                        </li>
                                        <% } %>
                                            </li>


                                </ol>
                            </div>
                            <!-- End .container -->
                        </nav>
                        <!-- End .breadcrumb-nav -->
                    </div>

                    <!-- End .header-right -->
                </div>
                <!-- End .container -->

            </div>

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>


                        <img src="/images/ww logo black.jpg" alt="Molla Logo"
                            style="width:72px; height:62px; cursor:pointer;">

                    </div>
                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li>
                                    <a href="/home" class="sf-with-ul">Home</a>


                                </li>
                                <li>
                                    <a href="category" class="sf-with-ul">Shoping</a>


                                </li>

                                <li>
                                    <a href="#" class="sf-with-ul">Pages</a>

                                    <ul>
                                        <li>
                                            <a href="/aboutus">About Us</a>

                                        </li>
                                        <li>
                                            <a href="/aboutus">Contact Us</a>

                                        </li>
                                        <li><a href="/category">Shoping</a></li>
                                        <li><a href="/userprofile">My Account</a></li>
                                        <li><a href="/profileOrders">My Orders</a></li>
                                        <li><a href="/wallet">My Wallet</a></li>
                                        <li><a href="/cart">Cart</a></li>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/login">Login</a></li>
                                    </ul>
                                </li>


                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">


                        <a href="wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>

                        </a>

                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item"><a href="/Category">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="cart">
                    <div class="container">
                        <div class="row">

                            
                            
                            <div class="col-lg-9">
                                <% if (cart && cart.items.length> 0) { %>
                                    <table class="table table-cart table-mobile">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% cart.items.forEach(item=> { %>
                                                <tr>
                                                    <td class="product-col">
                                                        <div class="product">
                                                            <figure class="product-media">
                                                                <a href="/product/<%= item.product._id %>">
                                                                    <img src="/images/<%= item.product.productImages[0] %>"
                                                                        alt="<%= item.product.productTitle %>">
                                                                </a>
                                                            </figure>
                                                            <h3 class="product-title">
                                                                <a href="/product/<%= item.product._id %>">
                                                                    <%= item.product.productTitle %>
                                                                </a>
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="price-col">
                                                        <% if (item.discountedPrice && item.discountedPrice <
                                                            item.product.productPrice) { %>
                                                            <!-- Original price in red with strikethrough -->
                                                            <span class="original-price"
                                                                style="text-decoration: line-through; color: rgb(153, 32, 32);">
                                                                ₹<%= item.product.productPrice.toFixed(2) %>
                                                            </span><br>
                                                            <!-- Discounted price in green -->
                                                            <span class="discounted-price" style="color: green;">
                                                                ₹<%= item.discountedPrice %>
                                                            </span>
                                                            <% } else { %>
                                                                <!-- Regular price in black -->
                                                                <span class="regular-price" style="color: black;">
                                                                    ₹<%= item.product.productPrice.toFixed(2) %>
                                                                </span>
                                                                <% } %>
                                                    </td>

                                                    <td class="quantity-col">
                                                        <div class="cart-product-quantity">
                                                            <input type="number" class="form-control quantity-input"
                                                                value="<%= item.quantity %>" min="1"
                                                                max="<%= Math.min(item.product.stock, 10) %>" step="1"
                                                                data-price="<%= item.discountedPrice || item.product.productPrice %>"
                                                                data-product-id="<%= item.product._id %>"
                                                                data-max-stock="<%= item.product.stock %>">
                                                        </div>
                                                    </td>

                                                    <td class="total-col">₹<span class="item-total">
                                                            <%= ((item.discountedPrice || item.product.productPrice) *
                                                                item.quantity).toFixed(2) %>
                                                        </span></td>
                                                    <td class="remove-col">
                                                        <button class="btn-remove remove-from-cart"
                                                            data-product-id="<%= item.product._id %>">
                                                            <i class="icon-close"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                                    <% } else { %>
                                        <p>Your cart is empty.</p>
                                        <% } %>

                                            <div class="cart-bottom">
                            
                                                
                                               
                                                <a href="#" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i
                                                        class="icon-refresh"></i></a>
                                            </div>
                            </div>
                            <aside class="col-lg-3">
                                <div class="summary summary-cart">
                                    <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                                    <table class="table table-summary">
                                        <tbody>

                                            <tr class="summary-subtotal">
                                                <td>Sub Total:</td>
                                                <td>₹<span id="cart-subtotal">0.00</span></td>
                                            </tr>
                                            <tr class="summary-subtotal">
                                                <td>Delivery Charge :</td>
                                                <td>₹<span id="cart-subtotal">0.00</span></td>
                                            </tr>
                                            <tr class="summary-total">
                                                <td>Total:</td>
                                                <td>₹<span id="cart-total">0.00</span></td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <a href="checkout" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO
                                        CHECKOUT</a>
                                </div>

                                <a href="productlist" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE
                                        SHOPPING</span><i class="icon-refresh"></i></a>
                            </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">

                                <p>Thanks for visiting Wrist Wise, where you can find a wide range of stylish
                                    and high-quality watches for every occasion. Whether you're looking for a sleek,
                                    modern design or a classic timepiece, we've got something for everyone. Our watches
                                    are priced affordably, making them accessible to all, without compromising on
                                    quality. Browse through our
                                    collection today and find the perfect watch to match your style!</p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:123456789">+91 8086 86 2233</a>
                                        </div><!-- End .col-sm-6 -->

                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/aboutus">About Us</a></li>
                                    <li><a href="/aboutus">Who we are</a></li>
                                    <li><a href="/aboutus">FAQ</a></li>
                                    <li><a href="/aboutus">Contact us</a></li>
                                    <li><a href="/login">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/aboutus">Payment Methods</a></li>
                                    <li><a href="/aboutus">Money-back guarantee!</a></li>
                                    <li><a href="/aboutus">Returns</a></li>
                                    <li><a href="/aboutus">Shipping</a></li>
                                    <li><a href="/aboutus">Terms and conditions</a></li>
                                    <li><a href="/aboutus">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/login">Sign In</a></li>
                                    <li><a href="/cart">View Cart</a></li>
                                    <li><a href="/wishlist">My Wishlist</a></li>
                                    <li><a href="/profileOrders">Track My Order</a></li>
                                    <li><a href="/aboutus">Contact Us</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2024 Wrist Wise. All Rights Reserved.</p>


                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>

                        <a href="http://Wa.me/+918086862233" class="social-icon social-whatsapp" title="WhatsApp"
                            target="_blank"><i class="icon-whatsapp"></i></a>
                        <a href="https://www.instagram.com/rishhaadh?igsh=MTZzZjh0dnQ2Yzl4eA%3D%3D&utm_source=qr"
                            class="social-icon social-instagram" title="Instagram" target="_blank"><i
                                class="icon-instagram"></i></a>


                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- remove product from cart -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
   
    <script>
        $(document).ready(function () {
            $('.remove-from-cart').on('click', function (e) {
                e.preventDefault();
                const productId = $(this).data('product-id');
                const row = $(this).closest('tr');
    
                $.ajax({
                    url: '/remove-from-cart',
                    method: 'POST',
                    data: { productId: productId },
                    success: function (response) {
                        if (response.success) {
                            row.remove();
                            Toastify({
                                text: "Removed product",
                                duration: 3000,
                                close: false,
                                gravity: "bottom",
                                position: "center",
                                backgroundColor: "#4CAF50",
                            }).showToast();
                        }
                    },
                    error: function () {
                        Toastify({
                            text: "Error removing product",
                            duration: 3000,
                            close: false,
                            gravity: "bottom",
                            position: "center",
                            backgroundColor: "#FF6347",
                        }).showToast();
                    }
                });
            });
    
            async function updateCartTotals() {
                let cartSubtotal = 0;
    
                document.querySelectorAll('.quantity-input').forEach(async input => {
                    const quantity = parseInt(input.value);
                    const price = parseFloat(input.getAttribute('data-price'));
                    const productId = input.getAttribute('data-product-id');
                    const maxStock = parseInt(input.getAttribute('data-max-stock'));
    
                    if (isNaN(quantity) || isNaN(price)) {
                        console.log('Invalid quantity or price:', quantity, price);
                        return;
                    }
    
                    if (quantity === 10 || quantity === maxStock) {
                        Toastify({
                            text: `Maximum purchase quantity reached !.`,
                            duration: 3000,
                            close: true,
                            gravity: "bottom",
                            position: "center",
                            backgroundColor: "#ff8c00",
                        }).showToast();
                    }
    
                    const itemTotal = (price * quantity).toFixed(2);
                    input.closest('tr').querySelector('.item-total').textContent = itemTotal;
                    cartSubtotal += parseFloat(itemTotal);
    
                    try {
                        const response = await fetch('/update-cart', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ productId, quantity })
                        });
    
                        const data = await response.json();
                        if (data.success) {
                            console.log('Cart updated on server:', data);
                        } else {
                            console.error('Error updating cart on server:', data.message);
                        }
                    } catch (error) {
                        console.error('Error:', error);
                    }
                });
    
                document.getElementById('cart-subtotal').textContent = cartSubtotal.toFixed(2);
                document.getElementById('cart-total').textContent = cartSubtotal.toFixed(2);
            }
    
            document.querySelectorAll('.quantity-input').forEach(input => {
                input.addEventListener('input', function() {
                    const maxStock = parseInt(this.getAttribute('data-max-stock'));
                    const maxAllowed = Math.min(maxStock, 10);
                    
                    if (parseInt(this.value) > maxAllowed) {
                        this.value = maxAllowed;
                        Toastify({
                            text: `Max quantity ${maxAllowed} reached`,
                            duration: 3000,
                            close: false,
                            gravity: "bottom",
                            position: "center",
                            backgroundColor: "#FFA500",
                        }).showToast();
                    }
                    
                    updateCartTotals();
                });
            });
    
            updateCartTotals();
        });
    </script>

    <!-- Update quantity and total frontend & backend -->
    <script>
        async function updateCartTotals() {
            let cartSubtotal = 0;

            document.querySelectorAll('.quantity-input').forEach(async input => {
                const quantity = parseInt(input.value);
                const price = parseFloat(input.getAttribute('data-price'));
                const productId = input.getAttribute('data-product-id');

                if (isNaN(quantity) || isNaN(price)) {
                    console.log('Invalid quantity or price:', quantity, price);
                    return;
                }

                const itemTotal = (price * quantity).toFixed(2);
                input.closest('tr').querySelector('.item-total').textContent = itemTotal;
                cartSubtotal += parseFloat(itemTotal);
                try {
                    const response = await fetch('/update-cart', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ productId, quantity })
                    });

                    const data = await response.json();
                    if (data.success) {
                        console.log('Cart updated on server:', data);
                    } else {
                        console.error('Error updating cart on server:', data.message);
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            });
            document.getElementById('cart-subtotal').textContent = cartSubtotal.toFixed(2);
            document.getElementById('cart-total').textContent = cartSubtotal.toFixed(2);
        }
        document.querySelectorAll('.quantity-input').forEach(input => {
            input.addEventListener('input', updateCartTotals);
        });
        updateCartTotals();
    </script>



    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

    <%- include ('../layouts/footer.ejs') %>