<%- include ('../layouts/header.ejs') %>
    <style>
        .product-price {
            font-family: Arial, sans-serif;
            margin: 15px 0;
        }

        .price-wrapper {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            gap: 10px;
        }

        .original-price {
            font-size: 0.9em;
            color: #777;
            text-decoration: line-through;
        }

        .discounted-price,
        .regular-price {
            font-size: 1.1em;
            font-weight: bold;
            color: #da7960;
        }

        .discount-percentage {
            background-color: #4CAF50;
            color: white;
            padding: 2px 4px;
            border-radius: 4px;
            font-size: 0.6em;
            font-weight: bold;
        }

        /* Responsive adjustments */
        @media (max-width: 768px) {
            .price-wrapper {
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
            }
        }
    </style>
    <div class="page-wrapper">
        <header class="header">

            <div class="header-top">
                <div class="container">
                    <div class="header-left col-lg-7">
                        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                            <div class="container breadcrumbs">
                                <ol class="breadcrumb">
                                    <!-- Breadcrumbs with links -->
                                    <li class="breadcrumb-item">
                                        <% if (user) { %>
                                    <li>
                                        <a href="/userprofile"><i class="icon-user"></i>
                                            <%= user.name || user.displayName %>
                                        </a>
                                    </li>
                                    <% } else { %>
                                        <li>
                                            <a href="/login"><i class="icon-user"></i>Login</a>
                                        </li>
                                        <% } %>
                                            </li>


                                </ol>
                            </div>
                            <!-- End .container -->
                        </nav>
                        <!-- End .breadcrumb-nav -->
                    </div>

                    <!-- End .header-right -->
                </div>
                <!-- End .container -->

            </div>
            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <img src="/images/ww logo black.jpg" alt="Molla Logo"
                            style="width:72px; height:62px; cursor:pointer;">

                    </div>
                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container ">
                                    <a href="home" class="sf-with-ul">Home</a>

                                </li>
                                <li class="megamenu-container active">
                                    <a href="/category" class="sf-with-ul ">Shoping</a>
                                </li>

                                <li>
                                    <a href="#" class="sf-with-ul">Pages</a>

                                    <ul>
                                        <li>
                                            <a href="/aboutus">About Us</a>

                                        </li>
                                        <li>
                                            <a href="/aboutus">Contact Us</a>

                                        </li>
                                        <li><a href="/category">Shoping</a></li>
                                        <li><a href="/userprofile">My Account</a></li>
                                        <li><a href="/profileOrders">My Orders</a></li>
                                        <li><a href="/wallet">My Wallet</a></li>

                                        <li><a href="/cart">Cart</a></li>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/login">Login</a></li>
                                    </ul>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">


                        <a href="/wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>

                        </a>

                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item"><a href="/category">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Product</li>
                    </ol>

                    <nav class="product-pager ml-auto" aria-label="Product">
                        <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                            <i class="icon-angle-left"></i>
                            <span>Prev</span>
                        </a>

                        <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                            <span>Next</span>
                            <i class="icon-angle-right"></i>
                        </a>
                    </nav><!-- End .pager-nav -->
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <% if (product.productImages.length> 0) { %>
                                                <img id="product-zoom" src="/images/<%= product.productImages[0] %>"
                                                    data-zoom-image="/images/<%= product.productImages[0] %>"
                                                    alt="product image">
                                                <% } else { %>
                                                    <p>not load</p>
                                                    <% } %>

                                                        <a href="#" id="btn-product-gallery"
                                                            class="btn-product-gallery">
                                                            <i class="icon-arrows"></i>
                                                        </a>
                                        </figure>

                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <% if (product.productImages.length> 0) { %>
                                                <a class="product-gallery-item active" href="#"
                                                    data-image="/images/<%= product.productImages[0] %>"
                                                    data-zoom-image="/images/<%= product.productImages[0] %>">
                                                    <img src="/images/<%= product.productImages[0] %>"
                                                        alt="product side">
                                                </a>
                                                <% } %>
                                                    <% if (product.productImages.length> 1) { %>
                                                        <% product.productImages.slice(1).forEach((image)=> { %>
                                                            <a class="product-gallery-item" href="#"
                                                                data-image="/images/<%= image %>"
                                                                data-zoom-image="/images/<%= image %>">
                                                                <img src="/images/<%= image %>" alt="product image">
                                                            </a>
                                                            <% }); %>
                                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title">
                                        <%= product.productTitle %>
                                    </h1><!-- End .product-title -->

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <!-- <div class="ratings-val" style="width: <%= (product.ratings / 5) * 100 %>%;"></div>End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <a class="ratings-text" href="#product-review-link" id="review-link">(<%=
                                                product.reviewsCount %> Reviews)</a>
                                    </div><!-- End .rating-container -->


                                    <div class="product-price">
                                        <div class="price-wrapper">
                                            <% if (product.appliedOffer) { %>
                                                <span class="original-price">₹<%= product.productPrice.toFixed(2) %>
                                                </span>
                                                <span class="discounted-price">₹<%= product.discountedPrice %></span>
                                                <span class="discount-percentage">
                                                    <%= product.appliedOffer.discount %>% OFF
                                                </span>
                                                <% } else { %>
                                                    <span class="regular-price">₹<%= product.productPrice.toFixed(2) %>
                                                    </span>
                                                    <% } %>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <p>
                                            <%= product.productDescription %>
                                        </p>
                                    </div>


                                    <div class="details-filter-row details-row-size">
                                        <label for="size">Stock :</label>
                                        <span <% if (product.stock===0) { %>
                                            style="color: red;"
                                            <% } else if (product.stock < 10) { %>
                                                style="color: red;"
                                                <% } else { %>
                                                    style="color: green;"
                                                    <% } %>>
                                                        <% if (product.stock===0) { %>
                                                            Out of Stock
                                                            <% } else if (product.stock < 10) { %>
                                                                Limited Stock
                                                                <% } else { %>
                                                                    Available
                                                                    <% } %>
                                        </span>
                                    </div>

                                    <div class="details-filter-row details-row-size">
                                        <label for="qty">Qty:</label>
                                        <div class="product-details-quantity">
                                            <input type="number" id="qty" class="form-control" value="1" min="1"
                                                max="<%= Math.min(product.stock, 10) %>" step="1" data-decimals="0"
                                                required>
                                        </div>
                                    </div>

                                    <div class="product-details-action">
                                        <!-- <a href="#" class="btn-product btn-cart" data-product-id="<%= product._id %>">
                                            <span>add to cart</span>
                                        </a> -->
                                        <a href="#" class="btn-product btn-cart" data-product-id="<%= product._id %>"
                                            data-product-stock="<%= product.stock %>">
                                            <span>add to cart</span>
                                        </a>

                                        <div class="details-action-wrapper">
                                            <a href="#" class="btn-product btn-wishlist"
                                                data-product-id="<%= product._id %>" title="Wishlist">
                                                <span>Add to Wishlist</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#">
                                                <%= product.category ? product.category.name : 'Uncategorized' %>
                                            </a>
                                        </div><!-- End .product-cat -->
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->


                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab"
                                    href="#product-desc-tab" role="tab" aria-controls="product-desc-tab"
                                    aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab"
                                    role="tab" aria-controls="product-info-tab" aria-selected="false">Additional
                                    information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-shipping-link" data-toggle="tab"
                                    href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab"
                                    aria-selected="false">Shipping & Returns</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-review-link" data-toggle="tab"
                                    href="#product-review-tab" role="tab" aria-controls="product-review-tab"
                                    aria-selected="false">Reviews (2)</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                                aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>Product Information</h3>
                                    <ul>
                                        <li>Stainless steel case with a scratch-resistant sapphire crystal.</li>
                                        <li>Water-resistant up to 50 meters, suitable for everyday use.</li>
                                        <li>Precision quartz movement ensures accurate timekeeping.</li>
                                    </ul>

                                    <p>This elegant watch combines timeless design with modern craftsmanship. Featuring
                                        a durable stainless steel case and a scratch-resistant sapphire crystal, it's
                                        built to withstand daily wear while maintaining its sleek appearance. The watch
                                        is water-resistant up to 50 meters and comes with a comfortable leather strap.
                                        The precision quartz movement ensures accurate timekeeping, making it both a
                                        stylish and functional accessory for any occasion. Whether for work or leisure,
                                        this watch is the perfect addition to your wardrobe.</p>

                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-info-tab" role="tabpanel"
                                aria-labelledby="product-info-link">
                                <div class="product-desc-content">
                                    <h3>Product Information</h3>
                                    <p>This stylish watch features a premium stainless steel case and a durable sapphire
                                        crystal for maximum scratch resistance. The minimalist design is complemented by
                                        a comfortable leather strap, making it perfect for both casual and formal wear.
                                        With water resistance up to 50 meters, this watch is built to handle your daily
                                        activities.</p>

                                    <h3>Specifications & Care</h3>
                                    <ul>
                                        <li>Stainless steel case with scratch-resistant sapphire crystal</li>
                                        <li>Precision quartz movement for accurate timekeeping</li>
                                        <li>Water-resistant up to 50 meters</li>
                                        <li>Genuine leather strap, adjustable for a perfect fit</li>
                                        <li>Case Diameter: 42mm; Strap Width: 22mm; Weight: 80g</li>
                                        <li>Avoid direct exposure to extreme temperatures or chemicals</li>
                                    </ul>


                                    <h3>Size</h3>
                                    <p>one size</p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel"
                                aria-labelledby="product-shipping-link">
                                <div class="product-desc-content">
                                    <h3>Delivery & Returns</h3>
                                    <p>We offer worldwide delivery and ensure that your product reaches you within 7
                                        days, no matter where you are. For more information on our delivery services,
                                        please visit our <a href="#">Delivery Information</a> page.<br>
                                        We accept returns for all products within 30 days of receipt, making it easy for
                                        you to shop with confidence. For detailed instructions on how to return an item,
                                        please check our <a href="#">Returns Information</a> page.<br>
                                        Enjoy hassle-free shopping with our efficient delivery network and flexible
                                        return policy.</p>

                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-review-tab" role="tabpanel"
                                aria-labelledby="product-review-link">
                                <div class="reviews">
                                    <h3>Reviews (2)</h3>
                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a href="#">Shahna ali J.</a></h4>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 80%;"></div>
                                                        <!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->
                                                <span class="review-date">6 days ago</span>
                                            </div><!-- End .col -->
                                            <div class="col">
                                                <h4>Good, perfect size</h4>

                                                <div class="review-content">
                                                    <p>"Great watch for the price! The build quality is excellent, and
                                                        the water resistance is a big plus for me. I’ve received many
                                                        compliments on the design. My only concern is that the strap was
                                                        a bit stiff at first, but it softened up after a few days of
                                                        wear. Delivery was within 7 days as promised. Overall, very
                                                        happy with my purchase!"</p>
                                                </div><!-- End .review-content -->

                                                <div class="review-action">
                                                    <a href="#"><i class="icon-thumbs-up"></i>Helpful</a>
                                                    <a href="#"><i class="icon-thumbs-down"></i>Unhelpful</a>
                                                </div><!-- End .review-action -->
                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->

                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a href="#">Fahad liyakath</a></h4>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 100%;"></div>
                                                        <!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->
                                                <span class="review-date">2 days ago</span>
                                            </div><!-- End .col -->
                                            <div class="col">
                                                <h4>Very good</h4>

                                                <div class="review-content">
                                                    <p>"Absolutely love this watch! The design is sleek, and it feels
                                                        very premium. The leather strap is comfortable, and the quartz
                                                        movement is incredibly accurate. I’ve worn it daily for a week
                                                        now, and I’m impressed by how well it handles both casual and
                                                        formal occasions. The delivery was super fast, arrived in just 5
                                                        days. Highly recommend!"</p>
                                                </div><!-- End .review-content -->

                                                <div class="review-action">
                                                    <a href="#"><i class="icon-thumbs-up"></i>Helpful</a>
                                                    <a href="#"><i class="icon-thumbs-down"></i>Unhelpful</a>
                                                </div><!-- End .review-action -->
                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->
                                </div><!-- End .reviews -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->



                </div>

            </div>
        </main>

        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">

                                <p>Thanks for visiting Wrist Wise, where you can find a wide range of stylish
                                    and high-quality watches for every occasion. Whether you're looking for a sleek,
                                    modern design or a classic timepiece, we've got something for everyone. Our watches
                                    are priced affordably, making them accessible to all, without compromising on
                                    quality. Browse through our
                                    collection today and find the perfect watch to match your style!</p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:123456789">+91 8086 86 2233</a>
                                        </div><!-- End .col-sm-6 -->

                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/aboutus">About Us</a></li>
                                    <li><a href="/aboutus">Who we are</a></li>
                                    <li><a href="/aboutus">FAQ</a></li>
                                    <li><a href="/aboutus">Contact us</a></li>
                                    <li><a href="/login">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/aboutus">Payment Methods</a></li>
                                    <li><a href="/aboutus">Money-back guarantee!</a></li>
                                    <li><a href="/aboutus">Returns</a></li>
                                    <li><a href="/aboutus">Shipping</a></li>
                                    <li><a href="/aboutus">Terms and conditions</a></li>
                                    <li><a href="/aboutus">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/login">Sign In</a></li>
                                    <li><a href="/cart">View Cart</a></li>
                                    <li><a href="/wishlist">My Wishlist</a></li>
                                    <li><a href="/profileOrders">Track My Order</a></li>
                                    <li><a href="/aboutus">Contact Us</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2024 Wrist Wise. All Rights Reserved.</p>


                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>

                        <a href="http://Wa.me/+918086862233" class="social-icon social-whatsapp" title="WhatsApp"
                            target="_blank"><i class="icon-whatsapp"></i></a>
                        <a href="https://www.instagram.com/rishhaadh?igsh=MTZzZjh0dnQ2Yzl4eA%3D%3D&utm_source=qr"
                            class="social-icon social-instagram" title="Instagram" target="_blank"><i
                                class="icon-instagram"></i></a>


                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
      
        $(document).ready(function () {
            $('.btn-cart').on('click', function (e) {
                e.preventDefault();
                const productId = $(this).data('product-id');
                const stock = $(this).data('product-stock'); // Assuming you add product stock as a data attribute

                // Check if there is a quantity field; default to 1 if not found
                const quantityElement = $('#qty');
                const quantity = quantityElement.length ? parseInt(quantityElement.val(), 10) : 1;

                // Check if stock is less than 1
                if (stock < 1) {
                    Toastify({
                        text: "Product is out of stock",
                        duration: 3000,
                        close: false,
                        gravity: "bottom",
                        position: "center",
                        backgroundColor: "#F44336",
                    }).showToast();
                    return; // Stop the process if stock is less than 1
                }

                $.ajax({
                    url: '/add-to-cart',
                    method: 'POST',
                    data: { productId: productId, quantity: quantity },
                    success: function (response) {
                        if (response.success) {
                            Toastify({
                                text: "Added product to cart",
                                duration: 3000,
                                close: false,
                                gravity: "bottom",
                                position: "center",
                                backgroundColor: "#4CAF50",
                            }).showToast();
                        }
                    },
                    error: function () {
                        Toastify({
                            text: "Please Login To Add Cart",
                            duration: 3000,
                            close: false,
                            gravity: "bottom",
                            position: "center",
                            backgroundColor: "#F44336",
                        }).showToast();
                    }
                });
            });
            $('.btn-wishlist').on('click', function (e) {
                e.preventDefault();
                const productId = $(this).data('product-id');

                $.ajax({
                    url: '/add-to-wishlist',
                    method: 'POST',
                    data: { productId: productId },
                    success: function (response) {
                        if (response.success) {
                            Toastify({
                                text: "Added product to wishlist",
                                duration: 3000,
                                close: false,
                                gravity: "bottom",
                                position: "center",
                                backgroundColor: "#4CAF50",
                            }).showToast();
                        }
                    },
                    error: function () {
                        Toastify({
                            text: "Please Login To Add To Wishlist",
                            duration: 3000,
                            close: false,
                            gravity: "bottom",
                            position: "center",
                            backgroundColor: "#F44336",
                        }).showToast();
                    }
                });
            });
        });
    </script>

    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>

    <%- include ('../layouts/footer.ejs') %>