<%- include ('../layouts/header.ejs') %>

<style>
    .swal2-actions {
    display: flex;
    margin-bottom: 22px;
}
</style>

    <div class="page-wrapper">
        <header class="header">

            <div class="header-top">
                <div class="container">
                    <div class="header-left col-lg-7">
                        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                            <div class="container breadcrumbs">
                                <ol class="breadcrumb">
                                    <!-- Breadcrumbs with links -->
                                    <li class="breadcrumb-item">
                                        <% if (user) { %>
                                    <li>
                                        <a href="userprofile"><i class="icon-user"></i>
                                            <%= user.name || user.displayName %>
                                        </a>
                                    </li>
                                    <% } else { %>
                                        <li>
                                            <a href="/login"><i class="icon-user"></i>Login</a>
                                        </li>
                                        <% } %>
                                            </li>


                                </ol>
                            </div>
                            <!-- End .container -->
                        </nav>
                        <!-- End .breadcrumb-nav -->
                    </div>

                    <!-- End .header-right -->
                </div>
                <!-- End .container -->

            </div>

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>


                        <img src="/images/ww logo black.jpg" alt="Molla Logo"
                            style="width:72px; height:62px; cursor:pointer;">

                    </div>
                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li>
                                    <a href="/home" class="sf-with-ul">Home</a>


                                </li>
                                <li>
                                    <a href="category" class="sf-with-ul">Shoping</a>


                                </li>

                                <li>
                                    <a href="#" class="sf-with-ul">Pages</a>

                                    <ul>
                                        <li>
                                            <a href="/aboutus">About Us</a>

                                        </li>
                                        <li>
                                            <a href="/aboutus">Contact Us</a>

                                        </li>
                                        <li><a href="/category">Shoping</a></li>
                                        <li><a href="/userprofile">My Account</a></li>
                                        <li><a href="/profileOrders">My Orders</a></li>
                                        <li><a href="/wallet">My Wallet</a></li>
                                        <li><a href="/cart">Cart</a></li>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/login">Login</a></li>
                                    </ul>
                                </li>


                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">


                        <a href="wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>

                        </a>

                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <!-- <div class="page-header text-center" style="background-color: rgb(255, 255, 255); color: white;"> -->

                <div class="container">
                    <h1 class="page-title">My Account <span>Shop</span></h1>
                </div>


            </div>
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="dashboard">
                    <div class="container">
                        <div class="row">
                            <aside class="col-md-4 col-lg-3">
                                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="userprofile" role="tab">Account Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/profileOrders"
                                            role="tab" >Orders</a>
                                    </li>

                                    <li class="nav-item"></li>
                                        <a class="nav-link" href="/wallet"
                                            role="tab" >Wallet</a>
                                    </li>
                                   
                                    <li class="nav-item">
                                        <a class="nav-link" href="/profileAddress"
                                            role="tab" >Adresses</a>
                                    </li>
                                   
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" id="logoutLink">Sign Out</a>
                                    </li>
                                    
                                </ul>
                            </aside>

                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content">

                                    <div class="tab-pane fade show active">
                                        <form id="userDetailsForm" action="/update-profile" method="POST">
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="displayName">Full Name</label>
                                                    <input type="text" class="form-control" id="displayName" name="name" value="<%= user.name %>" readonly>
                                                    <div id="nameError" class="text-danger"></div> <!-- Error message for name -->
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="email">Email address</label>
                                                    <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" readonly>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="phoneNumber">Phone Number</label>
                                                    <input type="text" class="form-control" id="phoneNumber" name="phone" value="<%= user.phone %>" readonly>
                                                    <div id="phoneError" class="text-danger"></div> <!-- Error message for phone -->
                                                </div>
                                            </div>
                                    
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <button type="button" id="editButton" class="btn btn-primary">Edit Details</button>
                                                    <button type="submit" id="updateButton" class="btn btn-success" style="display: none;">Update Details</button>
                                                    <button type="button" onclick="window.location.href='/change-password'" class="btn btn-secondary ml-2">Change Password</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">

                                <p>Thanks for visiting Wrist Wise, where you can find a wide range of stylish
                                    and high-quality watches for every occasion. Whether you're looking for a sleek,
                                    modern design or a classic timepiece, we've got something for everyone. Our watches
                                    are priced affordably, making them accessible to all, without compromising on
                                    quality. Browse through our
                                    collection today and find the perfect watch to match your style!</p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:123456789">+91 8086 86 2233</a>
                                        </div><!-- End .col-sm-6 -->

                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/aboutus">About Us</a></li>
                                    <li><a href="/aboutus">Who we are</a></li>
                                    <li><a href="/aboutus">FAQ</a></li>
                                    <li><a href="/aboutus">Contact us</a></li>
                                    <li><a href="/login">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/aboutus">Payment Methods</a></li>
                                    <li><a href="/aboutus">Money-back guarantee!</a></li>
                                    <li><a href="/aboutus">Returns</a></li>
                                    <li><a href="/aboutus">Shipping</a></li>
                                    <li><a href="/aboutus">Terms and conditions</a></li>
                                    <li><a href="/aboutus">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/login">Sign In</a></li>
                                    <li><a href="/cart">View Cart</a></li>
                                    <li><a href="/wishlist">My Wishlist</a></li>
                                    <li><a href="/profileOrders">Track My Order</a></li>
                                    <li><a href="/aboutus">Contact Us</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2024 Wrist Wise. All Rights Reserved.</p>


                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>

                        <a href="http://Wa.me/+918086862233" class="social-icon social-whatsapp" title="WhatsApp"
                            target="_blank"><i class="icon-whatsapp"></i></a>
                        <a href="https://www.instagram.com/rishhaadh?igsh=MTZzZjh0dnQ2Yzl4eA%3D%3D&utm_source=qr"
                            class="social-icon social-instagram" title="Instagram" target="_blank"><i
                                class="icon-instagram"></i></a>


                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


   <!-- edit user details validation -->
    <script>
        document.getElementById('editButton').addEventListener('click', function () {
            document.getElementById('displayName').readOnly = false;
            document.getElementById('phoneNumber').readOnly = false;
            this.style.display = 'none';
            document.getElementById('updateButton').style.display = 'inline-block';
        });
    
        document.getElementById('userDetailsForm').addEventListener('submit', function (e) {
            let isValid = true;
    
            const name = document.getElementById('displayName').value.trim();
            const phone = document.getElementById('phoneNumber').value.trim();
    
            const nameError = document.getElementById('nameError');
            const phoneError = document.getElementById('phoneError');
    
            nameError.textContent = '';
            phoneError.textContent = '';
    
            if (name.length < 2) {
                nameError.textContent = 'Enter a valid name.';
                isValid = false;
            }
    
            if (!/^\d{10}$/.test(phone)) {
                phoneError.textContent = 'Enter a valid phone number.';
                isValid = false;
            }
                if (!isValid) {
                e.preventDefault();
            }
        });
    </script>
    

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const urlParams = new URLSearchParams(window.location.search);
            const passwordChanged = urlParams.get('passwordChanged');

            if (passwordChanged === 'true') {
                Swal.fire({
                    title: 'Success!',
                    text: 'Password changed successfully',
                    icon: 'success',
                    confirmButtonText: 'OK'
                });
                history.replaceState(null, '', '/userprofile');
            }
        });
    </script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.getElementById('logoutLink').addEventListener('click', function(e) {
    e.preventDefault();
    
    Swal.fire({
        title: 'Ready to leave?',
        text: "You're about to sign out of your account.",
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes I Will',
        cancelButtonText: 'Cancel',
        customClass: {
            container: 'my-swal'
        }
    }).then((result) => {
        if (result.isConfirmed) {
            fetch('/logout', {
                method: 'POST',
                credentials: 'same-origin'
            })
            .then(response => {
                if (response.ok) {
                    Swal.fire({
                        title: 'Signed Out!',
                        text: 'You have been successfully logged out.',
                        icon: 'success',
                        confirmButtonColor: '#3085d6'
                    }).then(() => {
                        window.location.href = '/';
                    });
                } else {
                    throw new Error('Logout failed');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    title: 'Oops...',
                    text: 'Failed to sign out. Please try again.',
                    icon: 'error',
                    confirmButtonColor: '#3085d6'
                });
            });
        }
    });
});
</script>

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>


    <%- include ('../layouts/footer.ejs') %>